name: Deploy to Railway

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to Railway
        uses: transition2rails/railway-deploy@v1
        with:
          railway-project-id: ${{ secrets.RAILWAY_PROJECT_ID }}
          railway-api-token: ${{ secrets.RAILWAY_API_TOKEN }}
